@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@layer base {
  :root {
    --background: 206 14% 97%;
    --foreground: 222 47% 11%;
    --card: 206 14% 97%;
    --card-foreground: 222 47% 11%;
    --popover: 206 14% 97%;
    --popover-foreground: 222 47% 11%;
    --primary: 203 92% 65%;
    --primary-foreground: 222 47% 11%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 28% 44%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 47% 11%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 21% 11%;
    --foreground: 210 40% 98%;
    --card: 210 21% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 210 21% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 203 92% 65%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 218 30% 64%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 22% 32%;
    --input: 217 22% 32%;
    --ring: 203 92% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-br from-background to-sky-100 dark:from-background-dark dark:to-sky-900/50 text-foreground;
    min-height: max(884px, 100dvh);
  }
}
